@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Clash+Display:wght@400;500;600;700&display=swap');

* {
  /* font-weight:100; */
  overflow-x: hidden;
  box-sizing: border-box;
}

link:hover {
  color: black;
}
.cont {
  background-image: url("/images/banners/sad.jpg");
}
#cca {
  background-image: url("/images/banners/bga.jpg");
  background-size: cover;
  font-family:"Poppins",serif;
  
  /* background-position: center; */
}
*{
  font-family:"Clash Display";
}
@font-face {
  font-family: 'Clash Display';
  src: 
       url('/fonts/Satoshi-Variable.ttf') format('truetype')
      
      }

  